<div id="index-banner" class="parallax-container ">
    <div class="section no-pad-bot">
      <div class="container  banner">
        <br><br>
        <h1 class="center teal-text text-lighten-2 ">Rino Market</h1>
        <div class="row center">
          <h5 class=" col s12 light ">Vendi o compra i tuoi contenuti digitali</h5>
        </div>
        <div id="download-button" class="row center ">
          <%= link_to 'Vai al Market', contents_path, class: "btn" %>  
        </div>
        <br><br>

      </div>
    </div>
    <!--div class= "center parallax"><%=image_tag("background.jpg") %></div-->
  </div>



